extends layout

block caption
    a.navbar-brand(href="/") Modifier

block content
    .medium-container
        form#frmPublier(action="/admin/#{article.id}", method="POST", role="form")
            .form-group
                label(for="txtTitre") Titre
                input#txtTitre.form-control.popmsg(type='text', name='article[titre]', data-content="Le titre ne doit pas être vide", value="#{article.titre}")
            .form-group
                label(for="txtAuteur") Auteur
                input#txtAuteur.form-control.popmsg(type='text', name='article[auteur]', data-content="L'auteur ne doit pas être vide", value="#{article.auteur}")
            .form-group
                label(for="txtContenu") Contenu
                textarea#txtContenu.form-control.popmsg(name="contenu", data-content="Le contenu ne doit pas être vide") #{article.contenu.join('\n')}
            .form-group
                button.btn.btn-primary
                    span.glyphicon.glyphicon-pencil
                    |  Modifier
                &nbsp;
                a.btn.btn-default(href="/delete/#{article.id}")
                    span.glyphicon.glyphicon-remove
                    |  Supprimer